
/* ====================================
HEADER 
==================================== */

/* Box Model Hack */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

.clearfix {
  clear: both;
}

body {
  background-color: #f7f7f7;
  max-width: 100%;
}

.bg-cover {
  position: fixed;
  z-index: 10001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  z-index: 0;
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  display: flex;
  top: 0;
  position: fixed;
  z-index: 10001;
  padding-left: 2%;
  width: 100%;
  height: 150px;
  background-color: #f7f7f7;
}

.reveal {
  z-index: 10000;
  opacity: 1;
  color: #9d4d02;
  display: block;
  pointer-events: auto;
  visibility: visible;
  background-color: #f7f7f7;
}

.hamburger-image {
  margin: 0;
  position: fixed;
  overflow: hidden;
  z-index: 10002;
  width: 40px;
  height: 60px;
  left: calc(100% - 80px);
  top: 2rem;
}

.hamburger img {
  z-index: 10002;
  position: absolute;
  transition: all 350ms ease-in-out;
  top: 1rem;
  width: 100%;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
}
 
#menu {
  position: fixed;
  z-index: 10001;
  left: calc(100% - 292px);
  top: 10px;
  display: none;
  margin: 125px 30px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 26px;
  text-transform: uppercase;
  color: #9d0233;
  background-color: #f7f7f7;
  padding: 24px;
  width: 100%;
  text-align: left;
}

#menu nav {
  background-color: #f7f7f7;
}
  
#menu a li {
  text-decoration: none!important;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 2px solid #d16903;
  list-style: none;
  color:  #9d0233;
  transition: all 150ms ease;
  background-color: #f7f7f7;
}

#menu a li:hover {
  color: #0306D1;
  padding-right: 5px;
}

#menu a {
  text-decoration: none;
  background-color: #f7f7f7;
}

.rotate {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  height: 2px;
}

.rotate-back {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  height: 2px;
}

#footer {
  line-height: 1.5em;
  padding-top: 1rem;
  width: 100%;
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}

#footer a:link {color: #000; text-decoration: none;}
#footer a:visited {color: #000; text-decoration: none;}
#footer a:hover {color: #000; text-decoration: none;}
#footer a:active {color: #000; text-decoration: none;}

#footer ul {
  padding: 10px;
}

#footer ul li {
  display: inline-block;
  list-style: none;
  padding: 0.5em;
}



/* ====================================
CONTACT
==================================== */

#contactDetails {
  width: 100%;
  padding-top: 20%;
}

.details {
  margin-top: 1em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.detailsText {
  padding: 5% 5% 5% 15%;
  font-size: 1.3em;
  line-height: 1.5em;
  font-style: italic;
  font-family: 'Dosis', sans-serif; 
}

.detailsMobile {
  padding: 5% 5% 5% 15%;
  width: 45%;
  color: #9d0233;
  font-weight: 400;
  display: flex;
}

.contactForm {
  width: 55%;
  padding: 0% 15% 5% 5%;
}

.contactForm form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 100%;

  /* To see the limits of the form */
  padding: 1em;
  border: 1px solid #d16903;
  border-radius: 1em;
}

.contactForm div + div {
  margin-top: 1em;
}

.contactForm label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 100%;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  padding: 2%;
  color: #9d0233;
  background-color: #f7f7f7;
}

.contactForm input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font */
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif; 
  padding-left: 1em;

  /* To give the same size to all text field */
  width: 100%;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border */
  border: 1px solid #9d0233;
}

.contactForm input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #000;
}

.contactForm textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 100%;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

.contactForm .button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 20%; /* same size as the label elements */
}

.contactForm button {
  /* This extra magin represent the same space as the space between
     the labels and their text fields */
  margin-left: .5em;
  font-size: 1em;
  font-family: 'Dosis', sans-serif; 
  font-weight: 400;
  padding: 0.5em;
  background-color: #f7f7f7;
  color: #9d0233;
  border: 1px solid #9d0233;
  border-radius: 0.5em;
}

.detailsMobile a {
  padding: 10% 2% 2% 2%;
  width: 200px;
  font-size: 1.3em;
  line-height: 1.5em;
  font-style: italic;
  font-family: 'Dosis', sans-serif; 
  color: #9d0233;
}

.detailsMobile img {
  width: 71px;
  height: 112px;
}

.detailsMobile a:link {color: #9d0233; text-decoration: none; }
.detailsMobile a:visited {color: #9d0233; text-decoration: none; }
.detailsMobile a:hover {color: #9d0233; text-decoration: none; }
.detailsMobile a:active {color: #9d0233; text-decoration: none; }


/* ====================================
HOME
==================================== */
#mainContent {
  padding-top: 15%;
  background: url(images/home.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

#mainContent img {
  width: 100%;
  min-height: 500px;
}


/* ====================================
ABOUT
==================================== */


#about-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15% 4% 4% 4%;
  background-color: #f7f7f7;
}

.title-wrapper-about {
  font-family: 'Dosis', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4em;
  line-height: 2em;
  font-weight: 700;
  color: #000;
  width: 100%;
  padding: 10% 2% 2% 2%;
}

.text-wrapper-about {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 900;
  line-height: 1.5em;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000;
  background-color: #f7f7f7;
  padding: 5% 2% 5% 2%;
}

.creative-projects {
  padding: 5% 2% 0% 2%;
}

.creative-projects h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.5em;
}

.creative-projects span {
  font-weight: 900;
}

.textBio-left {
  width: 45%;
  float: left;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  line-height: 1.5em;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2em;
}

.textBio-right {
  width: 45%;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  line-height: 1.5em;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2em;
}

.image-wrapper-about {
  display: block;
}

.image-wrapper-about img {
  border: #000 solid 0.02px;
  border-radius: 3.5%;
}

.column-1-3 {
  float: center;
}

.text-holder{
  display: none;
}

.image-holder{
  position: relative;
  margin: 0 auto;
  width: 350px;
  height: 260px;
}

.head-image,.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 350px;
}

.head-image{
    z-index: 0;
}

.circle{
    z-index: 2;
}

.front{
    z-index: 1;
}

.widget{
  padding: 30px 60px;
  position: relative;
  top: 0;
}


/* ====================================
MOVING IMAGES/ PROJECTS / STILL IMAGES
==================================== */

#imageWrapper {
  display: flex;
  flex-flow: row wrap;
  padding: 2em;
  padding-bottom: 2em;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

#imageWrapper a:link {text-decoration: none; }
#imageWrapper a:visited {text-decoration: none; }
#imageWrapper a:hover {text-decoration: none; }
#imageWrapper a:active {text-decoration: none; }

.overview-title-wrapper {
  font-family: 'Dosis', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4em;
  line-height: 1.5em;
  font-weight: 600;
  color: #000;
  width: 100%;
  padding: 10% 2% 2% 2%;
  background-color: #f7f7f7;
}

.workImages {
  padding: 1.2em;
}

.stillImages {
  padding: 1.2em;
}

#imageWrapper img {
  border: black 1px solid;
  border-radius: 50%;
  overflow: hidden;
}

#imageWrapper .preview {
  position: relative;
}

#imageWrapper .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#imageWrapper .preview h3 {
  font-family: 'Dosis', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 400;
  margin-top: 4.2em;
  border-radius: 50%;
  color:  #0306D1;
}

.mobile-project-title h3 {
  display: none;
}

#imageWrapper .preview:hover .after {
  display: block;
  background: #d16903;
  border-radius: 51%;
  opacity: 1;
  text-align: center;
}


/* ====================================
PROJECT SPECIFIC PAGES
==================================== */

.image-popup-vertical-fit {
  display: inline-block;
}

.projects-text-wrapper .left {
  float: left;
  width: 20%;
}

.middle {
  display: inline-block;
  float: none;
  width: 60%;
}

.projects-text-wrapper.right {
  float: right;
  width: 20%;
}

#projects-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15% 2% 2% 2%;
  background-color: #f7f7f7;
}

#projects-image-wrapper {
  text-align: center;
  padding: 2%;
  padding-top: 2%;
}

#projects-image-wrapper img {
  border: #000 solid 0.02px;
  border-radius: 3.5%;
}

#projects-image-wrapper a {
  padding: 1%;
} 

.projects-title-wrapper {
  font-family: 'Dosis', sans-serif;
  font-size: 1.7em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.4em;
  line-height: 2em;
  font-weight: 700;
  color: #000;
  width: 100%;
  padding: 10% 2% 2% 2%;
}

.projects-text-wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  line-height: 1.5em;
  font-style: italic;
  text-align: center;
  letter-spacing: 0.2em;
  color: #000;
  background-color: #f7f7f7;
  padding-top: 2% 0 2% 0;
}

.projects-text-wrapper .middle {
  display: inline-block;
  float: none;
  width: 80%;
}

.projects-text-wrapper a {
  color: #9d0233;
}

.projects-text-wrapper a:link {color: #9d0233; text-decoration: none; }
.projects-text-wrapper a:visited {color: #9d0233; text-decoration: none; }
.projects-text-wrapper a:hover {color: #9d0233; text-decoration: none; }
.projects-text-wrapper a:active {color: #9d0233; text-decoration: none; }

#projects-video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

#projects-video-wrapper iframe {
  padding-left: 5%;
  padding-right: 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#two-buttons {
  display: flex;
  justify-content: center;
}

#animated-button {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #9d0233;
}

#animated-button .more-projects-button {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 2.9375rem 2.3125rem 0;
  text-align: center;
}

#animated-button .more-stills-button {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 2.9375rem 2.3125rem 0;
  text-align: center;
}

#animated-button .more-moving-button {
  padding: 0;
  margin: 0;
  list-style: none;
  margin: 2.9375rem 2.3125rem 0;
  text-align: center;
}

#animated-button .more-button {
  display: inline-block;
  font-size: 1em;
}

#animated-button .more-button a {
  position: relative;
  display: block;
  margin: 0 2px;
  padding: 0.625rem 1.25rem;
  text-transform: uppercase;
  overflow: hidden;
}

.more-button a:link {color: #9d0233; text-decoration: none; }
.more-button a:visited {color: #9d0233; text-decoration: none; }

#animated-button .more-button a:before {
  box-sizing: border-box;
  transform: translateX(100%);
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 99.5%;
  height: 2px;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
}

#animated-button .more-button a:after {
  box-sizing: border-box;
  transform: translateX(-100%);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
}

#animated-button .more-button a:hover:before {
  transition: .1s transform linear, .1s height linear .1s;
  transform: translateX(0);
  height: 100%;
  border-color: #9d0233;
}

#animated-button .more-button a:hover:after {
  transition: .1s transform linear .2s, .1s height linear .3s;
  transform: translateX(0);
  height: 100%;
  border-color: #9d0233;
} 


/* ====================================
PROJECT SPECIFIC PAGES - Image Animations
==================================== */

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Magnific Popup CSS */

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000001;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000002;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 10000003; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }


/* ====================================
MEDIA QUERIES
==================================== */


@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {

  /**Remove all paddings around the image on small screen
       */

  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }



 /* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) { 


body {
  width: auto;
}


#projects-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 15% 2% 2% 2%;
  background-color: #f7f7f7;
}

}



/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (max-width:641px) { 

body {
  width: auto;
}


#mainContent {
  padding-top: 30%;
}

#mainContent img {
  min-height: 400px;
} 

.hamburger-image {
  top: 5rem;
  left: calc(90% - 70px);
}

.logo {
  padding: .5rem;
}

#projects-content-wrapper {
  padding: 45% 2% 2% 2%;
  line-height: 1.5em;
}

#projects-content-wrapper-two {
  padding: 55% 2% 2% 2%;
  line-height: 1.5em;
  z-index: 4;
}

#projects-image-wrapper {
  padding: 4%;
}

.projects-title-wrapper {
  padding-bottom: 10%;
}

.projects-text-wrapper {
  padding-top: 5%;
  padding-bottom: 5%;
}

.mobile-project-title {
  padding: 2% 0% 0% 0%;
}

.mobile-project-title h3 {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #d16903;
}

#contactDetails {
  padding-top: 35%;
}

.contactForm {
  flex-direction: column;
  width: 100%;
  padding: 5%;
}

.detailsMobile {
  width: 100%;
  padding: 10%;
}

#about-wrapper {
  padding: 25% 4% 4% 4%;
}

.creative-projects h3 {
  line-height: 1.5em;
  padding: 25% 2% 10% 2%;
}

.textBio-left {
  width: 100%;
}

.textBio-right {
  width: 100%;
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media screen and (min-width: 481px){ 

body {
  width: auto;
}

#mainContent {
  padding-top: 30%;
}

#mainContent img {
  min-height: 400px;
}

.hamburger-image {
  top: 5rem;
  left: calc(90% - 70px);
}

.logo {
  padding: 2.5rem;
}


/* smartphones, iPhone, portrait 480x320 phones */
@media screen and (max-width: 320px){

body {
  width: auto;
}

.hamburger-image {
  top: 5rem;
}




  
 



